*{
	box-sizing: border-box;
}
header h1{
	font-size: 50px;	
}
header ul li{
	background-color: white;
	border-radius: 10px;
	padding: 5px;
	display: inline-block;
}
header ul li:hover{
	background-color: grey;
}
header ul li a{
	text-decoration: none;
	color: black;
	font-size: 30px;
	margin: 10px;
}
header{
	text-align: center;
	background-color: #eee;
	height: 150px;
	width: 98%;
	border-radius: 20px;
	margin: 1%;
}
main section{
	display: inline-block;
	width: 31%;
	height: 300px;
	background-color: #eee;
	border-radius: 20px;
	margin: 1%;
}
main section:hover{
		background-color: grey;
}
main section h1{
	text-align: center;
}